<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminGoodsMapper">
	<insert id="insertGoods" parameterType="GoodsDto">
		INSERT INTO GOODS (
    		GOODS_NAME,
			GOODS_CNT,
  			DISCOUNT_RATE,
   			PRICE,
    		GOODS_FILE_NAME,
    		REG_DATE,
    		GOODS_INFO,
    		GOODS_ORIGIN,
    		GOODS_CATEGORY
		)
		values (
			#{goodsName},
			#{goodsCnt},
			#{discountRate},
			#{price},
			#{goodsFileName},
			NOW(),
			#{goodsInfo},
			#{goodsOrigin},
			#{goodsCategory}
		)
	</insert>
	
	<update id="updateGoods" parameterType="GoodsDto">
		UPDATE
				GOODS
		SET
				GOODS_NAME = #{goodsName},
				GOODS_CNT = #{goodsCnt},
  				DISCOUNT_RATE = #{discountRate},
   				PRICE = #{price},
    			GOODS_FILE_NAME = #{goodsFileName},
    			GOODS_INFO = #{goodsInfo},
    			GOODS_ORIGIN = #{goodsOrigin},
    			GOODS_CATEGORY = #{goodsCategory}
    	WHERE
    			GOODS_CD = #{goodsCd}
				
	</update>
	
	<select id="selectGoodsList" resultType="GoodsDto" parameterType="GoodsDto">
		SELECT
				*
		FROM
				GOODS
	</select>
	
	<select id="selectGetOneGoods" resultType="GoodsDto" parameterType="int">
		SELECT
				*
		FROM
				GOODS
		WHERE
				GOODS_CD = #{goodsCd}
	</select>
	
	

</mapper>