<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cartMapper">

	<insert id="insertCart" parameterType="CartDto">
		INSERT INTO CART (
			GOODS_CD,
			CART_QTY,
			MEMBER_ID,
			CART_DATE
		)
		VALUES (
			#{goodsCd},
			#{cartQty},
			#{memberId},
			NOW()
		)
	</insert>
	
	<select id="selectOneDuplicatedCart" resultType="CartDto">
		SELECT
				*
		FROM
				CART
		WHERE
				MEMBER_ID = #{memberId} AND
				GOODS_CD = ${goodsCd}
	</select>
	
	<resultMap type="hashmap" id="cartMap">
		<result column="CART_CD" 			property="cartCd"/>
		<result column="MEMBER_ID"			property="memberId"/>
		<result column="CART_QTY"			property="cartQty"/>
		<result column="CART_DATE" 			property="cartDate"/>
		<result column="GOODS_CD" 			property="goodsCd"/>
		<result column="GOODS_NM" 			property="goodsNm"/>
		<result column="PRICE" 				property="price"/>
		<result column="DISCOUNTRATE" 		property="discountRate"/>
		<result column="GOODS_INFO"			property="goodsInfo"/>
		<result column="GOODS_ORIGIN" 		property="goodsOrigin"/>
		<result column="GOODS_CATEGORY" 	property="goodsCategory"/>
		<result column="GOODS_FILE_NAME" 	property="goodsFileName"/>
	</resultMap>
	
	<select id="selectListMyCart" parameterType="String" resultMap="cartMap">
		SELECT
				C.CART_CD		AS CART_CD,
				C.MEMBER_ID 	AS MEMBER_ID,
				C.CART_QTY		AS CART_QTY,
				C.CART_DATE		AS CART_DATE
		FROM
				CART C
	INNER JOIN GOODS G
				  ON C.GOODS_CD = G.GOODS_CD
		WHERE
				C.MEMBER_ID = #{memberId}
		ORDER BY
				C.CART_DATE DESC
	</select>

	

</mapper>