<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonMapper">
	
	<select id="selectOneGetBeefCnt" resultType="int">
		SELECT
				COUNT(*)
		FROM
				GOODS
		WHERE
				GOODS_CATEGORY = 'beef'
	</select>
	
	<resultMap type="hashmap" id="mainGoodsMap">
		<result column="GOODS_CD" 			property="goodsCd"/>
		<result column="GOODS_NAME" 		property="goodsName"/>
		<result column="PRICE" 				property="price"/>
		<result column="DISCOUNT_RATE" 		property="discountRate"/>
		<result column="GOODS_FILE_NAME" 	property="goodsFileName"/>
	</resultMap>
	
	<select id="selectListGoodsMain" resultMap="mainGoodsMap">
		SELECT
				GOODS_CD,
				GOODS_NAME,
				PRICE,
				DISCOUNT_RATE,
				GOODS_FILE_NAME
		FROM
				GOODS
	</select>	
	
	<select id="selectListLatestGoods" resultMap="mainGoodsMap">
		SELECT
				*
		FROM
				GOODS
		ORDER BY 
				REG_DATE DESC
		LIMIT 
				3
	</select>
	
	<select id="selectListTopPriceGoods" resultMap="mainGoodsMap">
		SELECT
				*
		FROM	
				GOODS
		ORDER BY
				PRICE DESC
		LIMIT 
				3
	</select>
	
	<select id="selectListLowestPriceGoods" resultMap="mainGoodsMap">
		SELECT
				*
		FROM
				GOODS
		ORDER BY
				PRICE ASC
		LIMIT 
				3		
	</select>
	
</mapper>