<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goodsMapper">

	<select id="selectGoodsCount" parameterType="hashmap" resultType="int">
		<choose>
			<when test='searchKeyword.equals("total")'>
				<choose>
					<when test='searchWord.equals("")'>
						SELECT 
								COUNT(*) 
						FROM 
								GOODS
					</when>
					<otherwise>
						SELECT 
								COUNT(*) 
						FROM 
								GOODS
						WHERE
								GOODS_NAME 		LIKE CONCAT ('%' , #{searchWord} , '%') OR
								GOODS_INFO 	 	LIKE CONCAT ('%' , #{searchWord} , '%') OR
								GOODS_ORIGIN	LIKE CONCAT ('%' , #{searchWord} , '%') OR
								GOODS_CATEGORY  LIKE CONCAT ('%' , #{searchWord} , '%')
					</otherwise>
				</choose>
			</when>
			<otherwise>
				SELECT 
						COUNT(*) 
				FROM 
						GOODS
			</otherwise>
		</choose>	
	</select>

	<select id="selectListGoods" parameterType="hashmap" resultType="GoodsDto">
		<choose>
			<when test='searchKeyword.equals("total")'>
				<choose>
					<when test='searchWord.equals("")'>
						SELECT
								*
						FROM
								GOODS
						LIMIT 
								#{startGoodsIdx} , #{onePageViewCount}
					</when>
					<otherwise>
						SELECT 
								*
						FROM
								GOODS
						WHERE
								GOODS_NAME 		LIKE CONCAT ('%' , #{searchWord} , '%') OR
								GOODS_INFO 	 	LIKE CONCAT ('%' , #{searchWord} , '%') OR
								GOODS_ORIGIN	LIKE CONCAT ('%' , #{searchWord} , '%') OR
								GOODS_CATEGORY  LIKE CONCAT ('%' , #{searchWord} , '%')
						LIMIT 
								#{startGoodsIdx},#{onePageViewCount}
					</otherwise>
				</choose>
			</when>
			<otherwise>
				SELECT
						*
				FROM
						GOODS
				<where>
					<if test='!goodsCategory.equals("all")'>
						GOODS_CATEGORY = #{goodsCategory}
					</if>
					<if test='goodsCategory.equals("all")'>
						GOODS_CATEGORY IN ('beef' , 'lamb' , 'pork' , 'chicken' , 'duckMeat');
					</if>
				</where>		
				LIMIT
						#{startGoodsIdx} , #{onePageViewCount}
			</otherwise>
		</choose>
	</select>


	<select id="selectGetGoodsCategory" parameterType="GoodsDto" resultType="GoodsDto">
		SELECT
				*
		FROM
				GOODS
		<where>
			<if test='!goodsCategory.equals("all")'>
				GOODS_CATEGORY = #{goodsCategory}
			</if>
		</where>
	</select>
	
	<select id="selectTotalGoodsCnt" resultType="int" parameterType="GoodsDto">
		SELECT
				COUNT(*)
		FROM
				GOODS
		WHERE
				GOODS_CATEGORY = #{goodsCategory}		
	</select>
	
	<select id="selectGetOneGoods" parameterType="int" resultType="GoodsDto">
		SELECT
				*
		FROM
				GOODS
		WHERE
				GOODS_CD = #{goodsCd}
	</select>
	
	<select id="selectGetSearchGoods" resultType="GoodsDto" parameterType="hashmap">

		<if test='method == "price"'>
			SELECT 
		   			*
		    FROM 
					GOODS
			WHERE
					PRICE BETWEEN #{min} AND #{max} 
			ORDER BY
					PRICE
		</if>
		<if test='method == "keyword"'>
			SELECT 
		   			*
		    FROM 
					GOODS
			ORDER BY
				<if test='keyword == "highPrice"'>
					PRICE DESC
				</if>
				<if test='keyword == "lowPrice"'>
					PRICE ASC
				</if>
		</if>
	</select>
	
	
</mapper>