<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>	
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
		
	<typeAliases>
		<typeAlias type="com.spring.fsms.admin.member.dto.AdminDto"  alias="AdminDto"/>
		<typeAlias type="com.spring.fsms.goods.dto.GoodsDto" alias="GoodsDto"/>
		<typeAlias type="com.spring.fsms.member.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.spring.fsms.morder.dto.MorderDto" alias="MorderDto"/>
		<typeAlias type="com.spring.fsms.cart.dto.CartDto" alias="CartDto"/>
		<typeAlias type="com.spring.fsms.common.dto.CommonDto" alias="CommonDto" />
	</typeAliases>
	

</configuration>